@page
@model PoolFootballApp.Pages.Picks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Picks List</h1>
<h2>@string.Format("Season {0}, Week {1}", Model.Season, Model.Week)</h2>

<table>
@foreach (var m in Model.Matches)
{
    <tr>
        <td><img src="~/img/@string.Format("{0}.svg", m.AwayTeam.ShortName)" width="40" height="40" /></td>
        <td>@string.Format("{0} {1}", m.AwayTeam.City, m.AwayTeam.Name)</td>
        <td>@m.AwayScore</td>
        <td>@m.HomeScore</td>
        <td>@string.Format("{0} {1}", m.HomeTeam.City, m.HomeTeam.Name)</td>
        <td><img src="~/img/@string.Format("{0}.svg", m.HomeTeam.ShortName)" width="40" height="40" /></td>
        <td>@m.WeekDay.ToString(). @m.StartTime.ToString("h:mm")</td>
    </tr>
}
</table>
