@page
@model PoolFootballApp.Pages.Matches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Match List</h1>
<h2>@ViewData["Subtitle"]</h2>

@if (Model.Matches != null)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>HOME TEAM</th>
                <th>HOME SCORE</th>
                <th>AWAY SCORE</th>
                <th>AWAY TEAM</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var match in Model.Matches) {
        <tr>
            <td> <img height="40" width="40" src="~/img/@(match.HomeTeamId).svg" /> </td>
            <td> @string.Format("{0} {1}", match.HomeTeam.City, match.HomeTeam.Name) </td>
            <td> @Html.DisplayFor(modelItem => match.HomeScore) </td>
            <td> @Html.DisplayFor(modelItem => match.AwayScore) </td>
            <td> @string.Format("{0} {1}", match.AwayTeam.City, match.AwayTeam.Name) </td>
            <td> <img height="40" width="40" src="~/img/@(match.AwayTeamId).svg" /> </td>
        </tr>
    }
        </tbody>
    </table>
}
