@page
@model PoolFootballApp.Pages.Matches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Match List</h1>
<h2>@ViewData["Subtitle"]</h2>

@if (Model.Matches != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>HOME TEAM</th>
                <th>HOME SCORE</th>
                <th>AWAY SCORE</th>
                <th>AWAY TEAM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var match in Model.Matches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => match.HomeTeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => match.HomeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => match.AwayScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => match.AwayTeamId)
            </td>
        </tr>
    }
        </tbody>
    </table>
}
